.offer {
  font-family: "Nova", sans-serif;
  width: fit-content;

  &--separator {
    border-left: 2px solid black;
    padding-left: 6px;
  }

  &__discount {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    &--pill {
      display: flex;
      gap: 5px;
    }

    &--strike {
      text-decoration: line-through;
    }
  }

  &__description {
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;

    &--left {
      text-align: end;
    }
  }

  &__price {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    min-width: fit-content;
  }

  &__total {
    font-size: 24px;
  }

  &__cents {
    font-size: 14px;
  }

  &__period {
    font-size: 18px;
  }
}
