h1,
p,
figure {
  margin: 0;
}

.header {
  font-family: "Nova", sans-serif;
  background: linear-gradient(270deg, #a90f90 0%, #0c1a51 100%);
  color: #fff;
  max-height: 830px;

  &__container {
    display: flex;
    justify-content: center;
    padding: 48px 30px;
    gap: 12px;
  }

  &__left {
    width: 460px;
    margin-right: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 8px;
    max-width: 380px;
  }

  .offer {
    margin-top: 20px;

    &__discount {
      font-size: 16px;

      &--pill {
        gap: 8px;
      }
    }

    &__price {
      margin-top: 15px;
    }

    &__total {
      font-size: 36px;
      line-height: 35px;
    }

    &__period {
      font-size: 24px;
    }
  }

  .subscription-cta {
    text-align: left;
    margin-top: 60px;
    padding: 0px;
    &__button {
      width: fit-content;
    }
    &__disclaimer {
      color: #fff;
    }
  }

  &__benefits {
    display: flex;
    column-gap: 16px;
    width: 428px;
  }

  &__benefit {
    max-width: 132px;

    &-image {
      display: flex;

      img {
        border-radius: 6px 6px 0 0;
      }
    }

    &-box {
      background: linear-gradient(
        54.76deg,
        var(--primary_color) 27.62%,
        var(--secondary_color) 73.53%
      );
      padding: 8px;
      row-gap: 4px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 78px;
      border-radius: 0 0 6px 6px;
      box-sizing: border-box;

      &-title {
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 895px) {
  .header {
    &__left {
      width: 460px;
      margin-right: 0px;
    }
    &__benefits {
      width: 400px;
    }
    &__benefit {
      &:first-child {
        display: none;
      }
      max-width: 100%;
      width: 100%;

      &-image {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .header {
    &__benefit {
      &-image {
        img {
          height: 100%;
        }
      }
    }
  }
}

// mobile

@media (max-width: 640px) {
  .header {
    &__container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
    }

    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 14px;
      max-width: none;
    }

    .offer {
      margin: 20px auto auto auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__total {
        font-size: 32px;
        line-height: 30px;
      }
      &__period {
        font-size: 20px;
      }
    }

    .subscription-cta {
      display: none;
    }

    &__benefits {
      column-gap: 8px;
    }

    &__benefit {
      &:first-child {
        display: flex;
      }

      &-box {
        width: 100%;
        border-radius: 6px;
        &-title {
          font-size: 10px;
          line-height: 12px;
          max-width: 90px;
          text-align: center;
        }
      }

      &-image {
        display: none;
      }
    }
  }
}

@media (max-width: 450px) {
  .header {
    padding: 28px 16px;
    &__container {
      padding: 0px;
    }
    &__left {
      width: 100%;
    }
    &__benefits {
      width: 100%;
    }
    &__benefit {
      height: 72px;

      &-box {
        width: 100%;
      }
    }
  }
}

@media (max-width: 350px) {
  .header {
    &__benefit {
      &:first-child {
        display: none;
      }
    }
  }
}
