.card-buy-level-6 {
  font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
  color: #fff;
  padding: 18px 16px;
  background: linear-gradient(270deg, #0c1a51, rgba(12, 26, 81, 0) 90.42%),
    #a90f90;
  max-width: 832px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
  }

  .offer {
    margin-right: 14px;
    &__discount {
      font-size: 14px;
    }
    &__total {
      font-size: 20px;
    }
    &__period {
      font-size: 16px;
      font-weight: 600;
    }
    &--separator {
      border-left: 2px solid #fff;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.3;
  }

  &__body {
    border-bottom: 1px solid #fff6;
    border-top: 1px solid #fff6;
    padding: 16px 0;
  }

  &__subtitle {
    font-size: 14px;
  }

  &__benefits {
    margin-top: 16px;
    display: flex;
  }

  &__benefit {
    width: calc(100% / var(--cants-benefits));
    height: 70px;
    display: flex;
    align-items: center;
    column-gap: 20px;

    &-icon {
      width: 56px;
      height: 56px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      line-height: 20px;
    }
  }

  &__cta {
    padding-top: 20px;
    text-align: center;

    button {
      font-size: 16px;
      font-weight: 600;
      height: 48px;
      padding: 0 24px;
      border: 0px;
      border-radius: 6px;
      color: #fff;
      background: hsla(0, 0%, 100%, 0.2);
    }
  }
}
